.chessboard {
  padding: 0px;
  margin: 0 auto;
  border: 2px solid #181818;
}

.chessboard tr td {
  width: 60px;
  height: 60px;
}

.chessboard tr:nth-child(2n) td:nth-child(2n + 1) {
  background: #9f9f9f;
}

.chessboard tr:nth-child(2n + 1) td:nth-child(2n) {
  background: #9f9f9f;
}

.chessboard tr > td.knight {
  background-image: url("https://cdn4.iconfinder.com/data/icons/landing-page/100/landing_page-16-512.png") !important;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.chessboard tr > td.destination {
  background-image: url("https://cdn.pixabay.com/photo/2013/07/13/11/25/target-158129_960_720.png") !important;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
